html,body {
	padding : 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	border: none;
}

.loader {
	height: 100%;
	width: 100%;
	top:0%;
	transition: top 0.5s ease;
	background: white;
	position: absolute;
	z-index: 1;
}

.loader.remove {
	top:-110%
}

.spinny {
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px; 
	top : 50%;
	background: url(../images/gear.gif);
	background-position: center center;
}

.controlDetails {
	font-family: 'Sigmar One', cursive;
	margin-top: 50px;
	text-align: center;
	color: #516774;
}

.controlDetails span {
	color: rgba(38, 38, 38, 0.75);
	font-size: 25px;
	margin-right: 5px;
}

div.controlDetails div:last-child {
	margin-top: 30px;	
}

div.controlDetails div:last-child span {
	color: #009688;
	transition: opacity 0.5s ease;
	cursor: pointer;
}

div.controlDetails div:last-child span:hover {
	opacity: 0.6;
}

.wrapper {
	box-shadow: 0px 5px 18px 5px #a9a9a9;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: -275px;
	top: 50%;
	width: 500px;
	height: 550px;
}

.scoreBoard {
	width: 225px;
	background: #04517e;
	font-family: 'Sigmar One', cursive;
}

.scoreBoard .gameTitle {
	color: #fff;
	text-align: center;
}

.scoreBoard .score, .scoreBoard .highScore {
	text-align: center;
	color: white;
}

table#tableTetris {
  width: 275px;
  border-spacing: 0;
	border: 1px solid #04517e;
  border-collapse: collapse;
	float: right;
}

table#tableTetris td {
  border: 1px solid black;
}

table.showcase {
  width: 100px;
	height: 80px;
  border-spacing: 0;
	background: lemonchiffon;
	border: 1px solid #04517e;
  border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.internalWrappers.playWrapper { 
	width: 134.50px;
	margin: 0 auto;
}

.internalWrappers.scoresWrapper span {
	color: wheat;
}

table.showcase td {
  border: 1px solid black;
}

.floatRight {
	float: right;
}

.relativeElement {
	position: relative;
}

.heightHundred {
	height: 100%;
}

.internalWrappers {
	overflow: hidden;
}

.internalWrappers.devDetailsWrapper {
	position: absolute;
	text-align: center;
	bottom: 8px;
	width: 100%;
}

.internalWrappers.devDetailsWrapper .devName a {
	text-decoration: none;
}

.internalWrappers.devDetailsWrapper .devName a > span {
	transition: color 0.25s ease;
}

.internalWrappers.devDetailsWrapper .devName a:hover > span {
	color: lemonchiffon;
}

.internalWrappers.devDetailsWrapper .controls a {
	cursor: pointer;
	text-decoration: none;
}

.internalWrappers.devDetailsWrapper .controls a *{
	transition: color 0.5s ease;
}

.internalWrappers.devDetailsWrapper .controls a:hover * {
	color: lemonchiffon;
}

.devDetailsWrapper .controls i.fa { 
	color: #fff;
	font-size: 25px;
}

.devDetailsWrapper .controls span {
	color: wheat;
	margin-left: 5px;
}

.devDetailsWrapper .devName span:first-child {
	color: #fff;
}

.devDetailsWrapper .devName span:last-child {
	color: wheat;
	margin-left: 5px;
}

.playWrapper i.fa { 
	font-size: 48px;
	width: 42px;
	margin-top: 90px;
	color: white;
	text-align: center;
	transition: transform 0.25s ease;
}

.playWrapper i.fa.disabled {
	opacity: 0.5;
}

.marked{
	background: red;
}

.hidden{
	display: none;
}

.playWrapper i.fa:not(.disabled):hover {
	transform: scale(0.9);
	color: lemonchiffon;
	cursor: pointer;
}