html,body {
	padding : 0px;
	margin: 0px;
	border: none;
}

table {
  height: 550px;
  width: 275px;
  border-spacing: 0;
	border: 1px solid black;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
}
